@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body{
  background: #000000;
  color: #ffff;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #000000;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #313131;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #000000;  /* creates padding around scroll thumb */
}

@layer components {
  .containerLink {
    @apply hover:text-white hover:font-bold transition-colors duration-[0.25s] border-none bg-none w-fit md:hover:text-white;
  }

  .link {
    @apply relative after:absolute after:w-full after:scale-x-0 after:h-[1.5px] after:bottom-0 after:left-0 after:bg-white after:md:bg-white after:origin-bottom-right after:transition-transform after:duration-[0.25s] after:ease-out hover:after:scale-x-100 hover:after:origin-bottom-left;
  }
}