.marqueeContainer {
  width: 30%;
  min-width: 100px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
}

.marquee {
  white-space: nowrap;
  animation: marquee 25s infinite ;
  box-sizing: border-box;
}

.extraMarque{
  white-space: nowrap;
  animation: extramarquee 35s infinite ;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .marqueeContainer {
    min-width: 140px;
  }
}

@media (min-width: 768px) {
  .marqueeContainer {
    min-width: 180px;
  }
}


@keyframes marquee {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
}

@keyframes extramarquee {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-70%);
  }
}
